.hero-section {
  padding-top: 250px;
  
}

.banner-image {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
}

.hero {
  &-bg-2 {
    position: absolute;
    top: 50%;
    left: 20%;

    @include tablet {
      display: none;
    }
  }


  &-bg-4 {
    top: 210px;
    right: 40%;
    position: absolute;

    @include tablet {
      display: none;
    }
  }


  &-bg-6 {
    position: absolute;
    right: 10%;
    bottom: 20%;

    @include tablet {
      display: none;
    }
  }

}